<nav>
  <ul>
      <li class="active"><a href="/dashboard/dashboardcontent" title="Dashboard">
         <i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">Dashboard</span></a>
      </li>
      <li>
         <a href="#" title="User Management"><i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">User Management</span>
         <b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></a>
         <ul>
            <li>
               <a href="/usermanagement/view/getusers" title="Users">
               <i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">Users</span></a>
            </li>
            <li><a href="/usermanagement/view/adduser" title="Add User"><i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">Add User</span></a></li>
         </ul>
      </li>
      
      <li>
         <a href="#" title="Branch Management"><i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">Branch Management</span><b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></a>
         <ul>
            <li><a href="/branchmanagement/view/branches" title="Branches"><i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">Branches</span></a></li>
            <li><a href="/branchmanagement/view/commissionProcessing" title="Commission Processing"><i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">Commission Processing</span></a></li>
         </ul>
      </li>
  </ul>
</nav>
