<div class="row mt-2 bg-light gap-4">
  <label class="font-weight-light font-xlarge">Sales Activity</label>
  <mat-card class="col-2">
    <mat-card-content class="text-center">
      <h4 ><b>10</b></h4>
      <p>To be Packed</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="col-2">
    <mat-card-content class="text-center">
      <h4 ><b>15</b></h4>
      <p>To be Shipped</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="col-2">
    <mat-card-content class="text-center">
      <h4 ><b>10</b></h4>
      <p>To be Delivered</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="col-2">
    <mat-card-content class="text-center">
      <h4 ><b>15</b></h4>
      <p>To be Invoiced</p>
    </mat-card-content>
  </mat-card>
</div>
