<nav>
  <ul>
      <li class="active"><a routerLink="/dashboard" title="Dashboard">
         <i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">Dashboard</span></a>
      </li>
      <li>
         <a href="#" title="Inventory Management"><i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">User</span>
         <b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></a>
         <ul>
            <li>
               <a href="/usermanagement/view/getusers" title="Users">
               <i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">Users</span></a>
            </li>
            <li><a href="/usermanagement/view/adduser" title="Add User"><i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">Roles</span></a></li>
            <li><a href="/usermanagement/view/adduser" title="Add User"><i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">Role Permissions</span></a></li>
         </ul>
      </li>
      <li>
         <a href="#" title="Inventory Management"><i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">Branch</span>
         <b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></a>
         <ul>
            <li>
               <a href="/usermanagement/view/getusers" title="Users">
               <i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">Branches</span></a>
            </li>
            <li><a href="/usermanagement/view/adduser" title="Add User"><i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">Werehouse</span></a></li>
         </ul>
      </li>
      <li>
         <a href="#" title="Inventory Management"><i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">Inventory</span>
         <b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></a>
         <ul>
            <li>
               <a href="/usermanagement/view/getusers" title="Users">
               <i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">Items</span></a>
            </li>
            <li><a href="/usermanagement/view/adduser" title="Add User"><i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">Item Groups</span></a></li>
            <li><a href="/usermanagement/view/adduser" title="Add User"><i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">Price List</span></a></li>
            <li><a href="/usermanagement/view/adduser" title="Add User"><i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">Inventory Adjustments</span></a></li>
            <li><a href="/usermanagement/view/adduser" title="Add User"><i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">Transfere Orders</span></a></li>
         </ul>
      </li>
      
      <li>
         <a href="#" title="Branch Management"><i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">Sales</span><b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></a>
         <ul>
            <li><a href="/branchmanagement/view/branches" title="Branches"><i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">Customers</span></a></li>
            <li><a href="/branchmanagement/view/commissionProcessing" title="Commission Processing"><i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">Retainer Invoices</span></a></li>
            <li><a href="/branchmanagement/view/commissionProcessing" title="Commission Processing"><i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">sales Orders</span></a></li>
            <li><a href="/branchmanagement/view/commissionProcessing" title="Commission Processing"><i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">Packages</span></a></li>
            <li><a href="/branchmanagement/view/commissionProcessing" title="Commission Processing"><i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">Shipments</span></a></li>
            <li><a href="/branchmanagement/view/commissionProcessing" title="Commission Processing"><i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">Invoices</span></a></li>
            <li><a href="/branchmanagement/view/commissionProcessing" title="Commission Processing"><i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">Sales Receipts</span></a></li>
            <li><a href="/branchmanagement/view/commissionProcessing" title="Commission Processing"><i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">Payment Received</span></a></li>
            <li><a href="/branchmanagement/view/commissionProcessing" title="Commission Processing"><i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">Sales Returns</span></a></li>
            <li><a href="/branchmanagement/view/commissionProcessing" title="Commission Processing"><i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">Credit Notes</span></a></li>
         </ul>
      </li>
      <li>
         <a href="#" title="Inventory Management"><i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">Purchases</span>
         <b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></a>
         <ul>
            <li>
               <a href="/usermanagement/view/getusers" title="Users">
               <i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">Items</span></a>
            </li>
            <li><a href="/usermanagement/view/adduser" title="Add User"><i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">Vendors</span></a></li>
            <li><a href="/usermanagement/view/adduser" title="Add User"><i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">Expenses</span></a></li>
            <li><a href="/usermanagement/view/adduser" title="Add User"><i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">Purchase Orders</span></a></li>
            <li><a href="/usermanagement/view/adduser" title="Add User"><i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">Purchase Receives</span></a></li>
            <li><a href="/usermanagement/view/adduser" title="Add User"><i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">Bills</span></a></li>
            <li><a href="/usermanagement/view/adduser" title="Add User"><i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">Payments Made</span></a></li>
            <li><a href="/usermanagement/view/adduser" title="Add User"><i class="fa fa-lg fa-fw"></i><span class="menu-item-parent">Vendor Credits</span></a></li>
         </ul>
      </li>
  </ul>
</nav>
