<div class="container-fluid page">
<div class="page__box p-4 mt-2">Home</div>
<div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute">
        <div class="row mt-5">
            <div class="col-12">
                <mat-card size="large">
                    <mat-card-title>Add Customer</mat-card-title>
                    <mat-card-content>
                     <div class="row">
                        <div class="col-6">
                            <label for="Name">FullName</label>
                            <input type="text"  placeholder="FullName" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="Name">Phone</label>
                            <input type="text"  placeholder="Phone" class="form-control">
                        </div>
                     </div>
                    </mat-card-content>

                    <mat-card-actions align="end">
                        <button mat-raised-button color="primary">Save</button>
                        <button mat-raised-button color="warn" >edit</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>

    </div>
</div>
</div>